.container{
	display: flex;
}
/* ***************************
yatay dikey ortalama icin süper üclü
	display: flex;				olmazsa olmaz!
	justify-content: center; 	yatay hizalama
	align-items: center;		dikey hizalama
**************************** */
.box{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center; 

}
/* ********************************
div icinde div yazi ortalamasi icin
distaki div=display:flex
icteki div=margin:auto;
*********************************** ya da
 div icinde div yazi ortalamasi icin
distaki dive 
			display:grid;
icteki dive
			display: flex;
			justify-content: center;
			align-items: center;
***********************************/

.dis{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	/* display: flex; */
	display: grid;
}
.ic{
	/* margin: auto; */
	display: flex;
	justify-content: center;
	align-items: center;
	
	
	
}